@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Open+Sans&display=swap");


body, h1, h2, h3, p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #1F2426;

}

/* Specific */
.bold {
    font-weight: bold;
}

/* headers */
.header {
    padding: 2% 5% 0;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px !important;
}

/* Title */
.title-caption {
    font-style: italic;
    text-align: center;
}

.how-to {
    width: 55%;
    text-align: center;
    margin: 1% auto 2%;

}

/* Change Size Container */
.changeSizeField {
    display: inline-block;
}

#sizeQuestion {
    margin-right: 2%;
}

.changeSizeButton {
    caret-color: transparent;
}

.reduce-margin {
    margin: 25px;
}

.sizeForm {
    text-align: center;
}

/* Matrix */
.matrix {
    margin-top: 25px;
}

.grid-input {
    margin: 2px;
    border-radius: 7px;
    border-style: double;
}

.size-input {
    margin-top: 10px;
    margin-right: 45px;
    border-radius: 7px;
}

div.ui.segment {
    margin: 2rem;
    margin-bottom: 2%;
}
.ui.segment:first-child {
    margin-top: 2%;
}
/* we can override */

.bg {
    background-image: url("gradient.jpeg");

    /* height: 100%;
    width: 100%; */

    background-position: center;
    background-repeat:no-repeat;
    background-size: 100% 200%;
}